export(download.data)
export(download.audit)
export(start.log)
export(finish.logs)
export(check.timeframe)
export(check.time.proximity)
export(check.text)
export(check.soft.duplicates)
export(check.proximity)
export(check.overlap.time)
export(check.outliers)
export(extract.other.variables)
export(check.others)
export(check.others.for.columns)
export(check.if)
export(detect.nearby)
export(add.audit.movement)
export(add.audit.info)
export(detect.similarity)
export(detect.overlaps)
export(add.duration)
export(get.question.choices)
export(calculate.distance)
